:root {
  --purple: rgb(107, 56, 107);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --lightGray: rgb(212, 212, 212);
}

body {
  background-color: var(--lightGray);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--black);
  height: 15%;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li {
  float: right;
}
.navbar li a {
  display: block;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
.navbar li a:hover {
  background-color: var(--purple);
}

.Img-MaxRego {
  padding-top: 15px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.content-container {
  margin: 5%;
  padding: 20px;
  border-radius: 1%;
  background-color: var(--white);
}
.content-continer p {
  font-size: 18px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 10px;
  font-size: 18px;
}
.form-small {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
.form-textbox {
  height: 200px;
}
.submit-button {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  background-color: var(--black);
  font-size: 18px;
  border: none;
}
.submit-button:hover {
  background-color: var(--purple);
}

@media (max-width: 720px) {
  .navbar li {
    width: 25%;
  }
}
