:root {
  --purple: rgb(107, 56, 107);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --lightGray: rgb(212, 212, 212);
}

body {
  background-color: var(--lightGray);
}

* {
  font-family: sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: serif;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--black);
  height: 15%;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li {
  float: right;
}
.navbar li a {
  display: block;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
.navbar li a:hover {
  background-color: var(--purple);
}

.bio-container {
  display: flex;
  flex-direction: row;
}
.bio-container .content-container {
  max-width: 50%;
}

.Img-MaxRego {
  padding-top: 15px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.content-container {
  margin: 5%;
  padding: 20px;
  border-radius: 1%;
  background-color: var(--white);
}
.content-continer p {
  font-size: 18px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 10px;
  font-size: 18px;
}
.form-small {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
.form-textbox {
  height: 200px;
}
.submit-button {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  background-color: var(--black);
  font-size: 18px;
  border: none;
}
.submit-button:hover {
  background-color: var(--purple);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.grid-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--white);
  border: 1px solid var(--lightGray);
  padding: 20px;
  margin: 10px;
  border-radius: 1%;
}
.grid-item h3 {
  text-align: center;
  margin: 0;
}
.grid-item .project-link {
  color: var(--white);
  display: block;
  margin: 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--black);
  padding: 10px 20px;
  text-align: center;
}
.grid-item .project-link:hover {
  background-color: var(--purple);
}
.grid-item p {
  text-align: left;
  margin: 10px;
}
/*
.project-details {
  text-align: center;
  border: 1px solid var(--lightGray);
  border-radius: 1%;
}
.project-link {
  color: var(--white);
  text-decoration: none;
  background-color: var(--black);
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  display: inline-block;
}
.project-link:hover {
  background-color: var(--purple);
}
*/
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 720px) {
  .navbar li {
    width: 25%;
  }
  .bio-container {
    display: block;
  }
  .bio-container .content-container {
    max-width: 100%;
  }
}
